# {{ ansible_managed }}

# User base for Atlassian Jira courses

# User William Smith - In an LDAP group that does not exist
dn: uid=wsmith,ou=People,{{ ldap_basedn }}
cn: William Smith
givenName: William
sn: Smith
uid: wsmith
uidNumber: 5158
gidNumber: 600
homeDirectory: /home/wsmith
loginShell: /bin/bash
mail: wsmith@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Alex Dupree
dn: uid=adupree,ou=People,{{ ldap_basedn }}
cn: Alex Dupree
givenName: Alex
sn: Dupree
uid: adupree
uidNumber: 5159
gidNumber: 627
homeDirectory: /home/adupree
loginShell: /bin/bash
mail: adupree@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Alana Grant
dn: uid=agrant,ou=People,{{ ldap_basedn }}
cn: Alana Grant
givenName: Alana
sn: Grant
uid: agrant
uidNumber: 5160
gidNumber: 628
homeDirectory: /home/agrant
loginShell: /bin/bash
mail: agrant@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Brandy Munoz
dn: uid=bmunoz,ou=People,{{ ldap_basedn }}
cn: Brandy Munoz
givenName: Brandy
sn: Munoz
uid: bmunoz
uidNumber: 5161
gidNumber: 629
homeDirectory: /home/bmunoz
loginShell: /bin/bash
mail: bmunoz@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Ryan Lee
dn: uid=rlee,ou=People,{{ ldap_basedn }}
cn: Ryan Lee
givenName: Ryan
sn: Lee
uid: rlee
uidNumber: 5162
gidNumber: 628
homeDirectory: /home/rlee
loginShell: /bin/bash
mail: rlee@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Luis Beck
dn: uid=lbeck,ou=People,{{ ldap_basedn }}
cn: Luis Beck
givenName: Luis
sn: Beck
uid: lbeck
uidNumber: 5163
gidNumber: 629
homeDirectory: /home/lbeck
loginShell: /bin/bash
mail: lbeck@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Dakota Jones
dn: uid=djones,ou=People,{{ ldap_basedn }}
cn: Dakota Jones
givenName: Dakota
sn: Jones
uid: djones
uidNumber: 5164
gidNumber: 626
homeDirectory: /home/djones
loginShell: /bin/bash
mail: djones@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Mitch Davis
dn: uid=mdavis,ou=People,{{ ldap_basedn }}
cn: Mitch Davis
givenName: Mitch
sn: Davis
uid: mdavis
uidNumber: 5165
gidNumber: 626
homeDirectory: /home/mdavis
loginShell: /bin/bash
mail: mdavis@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Cassie Owens
dn: uid=cowens,ou=People,{{ ldap_basedn }}
cn: Cassie Owens
givenName: Cassie
sn: Owens
uid: cowens
uidNumber: 5166
gidNumber: 628
homeDirectory: /home/cowens
loginShell: /bin/bash
mail: cowens@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Kevin Campbell
dn: uid=kcampbell,ou=People,{{ ldap_basedn }}
cn: Kevin Campbell
givenName: Kevin
sn: Campbell
uid: kcampbell
uidNumber: 5167
gidNumber: 628
homeDirectory: /home/kcampbell
loginShell: /bin/bash
mail: kcampbell@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Max Taylor
dn: uid=mtaylor,ou=People,{{ ldap_basedn }}
cn: Max Taylor
givenName: Max
sn: Taylor
uid: mtaylor
uidNumber: 5168
gidNumber: 628
homeDirectory: /home/mtaylor
loginShell: /bin/bash
mail: mtaylor@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Emma Paris
dn: uid=eparis,ou=People,{{ ldap_basedn }}
cn: Emma Paris
givenName: Emma
sn: Paris
uid: eparis
uidNumber: 5169
gidNumber: 628
homeDirectory: /home/eparis
loginShell: /bin/bash
mail: eparis@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Harvey Jennings
dn: uid=hjennings,ou=People,{{ ldap_basedn }}
cn: Harvey Jennings
givenName: Harvey
sn: Jennings
uid: hjennings
uidNumber: 5170
gidNumber: 628
homeDirectory: /home/hjennings
loginShell: /bin/bash
mail: hjennings@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Jennifer Evans
dn: uid=jevans,ou=People,{{ ldap_basedn }}
cn: Jennifer Evans
givenName: Jennifer
sn: Evans
uid: jevans
uidNumber: 5171
gidNumber: 628
homeDirectory: /home/jevans
loginShell: /bin/bash
mail: jevans@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Rosemary Silva
dn: uid=rsilva,ou=People,{{ ldap_basedn }}
cn: Rosemary Silva
givenName: Rosemary
sn: Silva
uid: rsilva
uidNumber: 5172
gidNumber: 629
homeDirectory: /home/rsilva
loginShell: /bin/bash
mail: rsilva@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Sophie Nguyen
dn: uid=snguyen,ou=People,{{ ldap_basedn }}
cn: Sophie Nguyen
givenName: Sophie
sn: Nguyen
uid: snguyen
uidNumber: 5173
gidNumber: 629
homeDirectory: /home/snguyen
loginShell: /bin/bash
mail: snguyen@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1

# User Terry Chaplin
dn: uid=tchaplin,ou=People,{{ ldap_basedn }}
cn: Terry Chaplin
givenName: Terry
sn: Chaplin
uid: tchaplin
uidNumber: 5174
gidNumber: 627
homeDirectory: /home/tchaplin
loginShell: /bin/bash
mail: tchaplin@teams-in-space.com
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
userPassword: welcome1
